html {
  box-sizing: border-box;
  font-family: 'Times New Roman' 'Times New Roman', Times, serif;
}
body {
  background-color: #FFA500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.panel {
  background-color:#000000;
  border-radius: 50px;
  padding: 20px 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pricing-plan {
  border-bottom: 1px solid #FFA500 ;
}
.pricing-plan:last-child {
  border-bottom: none;
}
.pricing-img {
  margin-bottom: 38px;
  max-width: 100%;
}
.pricing-header {
  color: #FFA500;
  font-weight: 600;
  letter-spacing: 1px;
}
.pricing-features {
  margin: 50px 10 25px;
  color:  #FFA500;
}
.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #000000;
}
.pricing-features-item:last-child{
  border-bottom: 1px solid #000000;
}
.pricing-price {
  color:  #FFA500; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}
.pricing-button {
  border: 1px solid #000000;
  border-radius: 10px;
  color:  #FFA500;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus {
  background-color: #000000;
}
.pricing-button.is-featured {
  background-color:  #FFA500;
  color:#000000;
}
.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
  background-color: #008000;
  color:#000000;
}
@media (min-width: 900px){
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #000000;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
